{
  "presets": [["@babel/preset-env", { "loose": true }], "@babel/preset-typescript"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-transform-private-methods", { "loose": true }],
    ["@babel/plugin-transform-private-property-in-object", { "loose": true }],
    ["transform-typescript-metadata"],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@": "./src"
        },
        "extensions": [".js", ".ts"]
      }
    ]
  ]
}
